<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
	<script src="forum.js"></script>
	<style>
		body{margin: 0 0; background-color:black; color:white;}
		h3{font-family: 'Oswald', sans-serif;}
		h4{font-family: 'Oswald', sans-serif;}
	</style>
</head>

<body ng-app="myApp">

<div class="container ng-view"></div>

<script type="text/ng-template" id="forum.html">
	<center><h3>Forum</h3></center>
	
	<form class="horizontal" role="form">
	<div class="form-group">
		<label class="control-label col-xs-2" for="name">Message:</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="name" placeholder="Type your message here" ng-model="mess">
		</div>
    </div>
	<br><br>
	<center><button type="submit" class="btn btn-default" ng-click="addMessage()">Submit</button></center>
	</form>
	<br><br><br><br>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Comment</th>
				<th>Time</th>
				<th>Likes</th>
				<th>Replies</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in comments track by $index">
				<td>{{x.mess}}</td>
				<td>{{x.date}}</td>
				<td><button type="button" class="btn btn-success" ng-click = "likeComment($index)">Likes:<span class = "badge">{{comments[$index].likes}}</span></button></td>
				<td><a href="#comment"><button type="button" class="btn btn-primary" ng-click="setRepon($index)">Replies</button></a></td>
			</tr>
		</tbody>
	</table>
</script>


<script type="text/ng-template" id="comment.html">
<center><h3>Replies</h3></center>
<br>
<center><a href = "#forum"><button class="btn btn-danger">Back</button></a></center>
<br><br>
<center><h4><q>{{comments[repon].mess}}</q></h4></center>

	<form class="horizontal" role="form">
	<div class="form-group">
		<label class="control-label col-xs-2" for="reply">Message:</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="reply" placeholder="Type your message here" ng-model="mess">
		</div>
    </div>
	<br><br>
	 <center><button type="submit" class="btn btn-default" ng-click="makeReply()">Submit</button></center>
    </div>
	</form>
	<br><br><br><br>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Replies</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in reps">
				<td>{{x}}</td>
			</tr>
		</tbody>
	</table>
</script>

</body>
</html>