<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
	<script src="forum.js"></script>
	<style>
		body{margin: 0 0; background-color:black; color:white;}
		h3{font-family: 'Oswald', sans-serif;}
		h4{font-family: 'Oswald', sans-serif;}
	</style>
</head>

<body ng-app="myApp">

<div class="container ng-view"></div>

<script type="text/ng-template" id="forum.html">
	<center><h3>Forum</h3></center>
	
	<form class="horizontal" role="form">
	<div class="form-group">
		<label class="control-label col-xs-2" for="name">Message:</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="name" placeholder="Type your message here" ng-model="mess">
		</div>
    </div>
	<br><br>
	<center><button type="submit" class="btn btn-default" ng-click="addMessage()">Submit</button></center>
	</form>
	<br><br><br><br>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Comment</th>
				<th>Time</th>
				<th>Likes</th>
				<th>Replies</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in comments track by $index">
				<td>{{x.mess}}</td>
				<td>{{x.date}}</td>
				<td><button type="button" class="btn btn-success" ng-click = "likeComment($index)">Likes:<span class = "badge">{{comments[$index].likes}}</span></button></td>
				<td><a href="#comment"><button type="button" class="btn btn-primary" ng-click="setRepon($index)">Replies</button></a></td>
			</tr>
		</tbody>
	</table>
</script>


<script type="text/ng-template" id="comment.html">
<head>
		<title>FORUM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">WPF-FORUM</a></h1>
					<nav id="nav">
						<ul>
									<li><a href="Download.html">Download</a></li>
									<li><a href="Forum.html">Forum</a></li>
								
							<li><a href="index.html" class="button special">Home</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>FORUM</h2>
							<p>WORLD POWER FIGHTER</p>
						</header>
						<div class="row 150%">
							<div class="4u 12u$(medium)">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<h3>BAZAR</h3>
											<p>OPEN BAR!</p>
											<footer>
												<ul class="actions">
													<li><a href="Forum.hmtl" class="button">VENEZ DISCUTER</a></li>
												</ul>
											</footer>
										</section>
										<hr />
										<section>
											<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
											<h3>PARTAGE</h3>
											<p>VOUS POUVEZ PARTAGER VOS MAP, VOS TECHNIQUES ET VOS EXPERIENCES DANS LE JEU</p>
											<footer>
												<ul class="actions">
													<li><a href="share.html" class="button">PARTAGER!</a></li>
												</ul>
											</footer>
										</section>
									</section>

							</div>
							<div class="8u$ 12u$(medium) important(medium)">

								<!-- Content -->
									<section id="content">
										<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
this.page.url = 'https://3awpf.github.io/wpf-web/Forum.html#/comment';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = 'forum11112'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://world-power-fighter.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<script id="dsq-count-scr" src="//world-power-fighter.disqus.com/count.js" async></script>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</script>
</body>
</html>
